.footer {
    margin: 0 -14rem;
    padding: 1.6rem;
    text-align: center;
    border-top: 1px solid $black;
}

.footer a {
    color: $black
}

@media(max-width: 45rem){
    .footer{
        width: 100%;
        margin-left: -1.6rem
    }
}