html {
    font-size: 62.5%
}

body {
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-size: 1.6rem;
    padding: 0 14rem;
    max-width: 192rem;
    margin: 0 auto;
}

h1 {
    font-size: 5.6rem;
    line-height: 6.4rem;
    font-weight: bold;
}

h2 {
    font-size: 4rem;
    text-transform: uppercase;
}

h3 {
    font-size: 3.2rem;
    font-weight: medium;
}

button {
    padding: 1.6rem 2.4rem;
    background-color: $primary;
    color: white;
    border: none;
    font-size: $m-size;
    text-transform: uppercase;
}

button:hover {
    background-color: darken($color: $primary, $amount: 4);
}

@media (max-width: 45rem){
    body{
        padding: 0 1.6rem;
        
    }
}